<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991144222743-bh3jma36lsn6fjj5akn26732p57768jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991144222743-bh3jma36lsn6fjj5akn26732p57768jo</string>
	<key>API_KEY</key>
	<string>AIzaSyDsRhYqNmnSh_ovs1cPANFJzbzWJbFd-rc</string>
	<key>GCM_SENDER_ID</key>
	<string>991144222743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppGastos</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-gastos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-gastos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991144222743:ios:bb7877cc6a196bdd6b3c52</string>
</dict>
</plist>